.footer_block{
    background: #a1cbef;
    //position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.foot_li{
    display: inline-block;
    list-style-type: none;
    width: 30%;
    text-align: center;
}
.footer{
    position: fixed;
    bottom: 0;
}
.foot-content{
    margin-top: 0;
}
